.splash-section-header.container {
  background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("https://images.unsplash.com/photo-1517424788495-0d03ec42e244?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $richblack;
  
  /* Nav section */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1vh 4vw;
  }

  .nav__left-side {
    display: flex;    
  }

  i {
    color: $platinum;
    margin-right: 12px;
    font-size: 8vw;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    align-self: center;
  }

  i:hover:focus {
    color: #c1bbbb;
  }

  i:hover:hover {
    color: #c1bbbb;
  }

  img {
    height: 19vw;
  }
  
  .nav__right-side__sign-in {
    color: $platinum;
    border: 1px solid $platinum;
    border-radius: 3px;
    background-color: transparent;
    font-size: 5.1vw;
    font-family: $roboto;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    padding: 1vw 2vw;
  }

  .nav__right-side__sign-in:focus {
    outline: 0;
    color: #c1bbbb;
    border: 1px solid #c1bbbb;
  }

  .nav__right-side__sign-in:hover {
    outline: 0;
    color: #c1bbbb;
    border: 1px solid #c1bbbb;
  }

  .nav__right-side__join-us {
    background-color: $sweetbrown;
    color: $platinum;
    border-radius: 3px;
    margin-left: 8px;
    font-size: 4.95vw;
    border: 1px solid $sweetbrown;
    font-family: $roboto;
    box-shadow: 3px 1px 7px 1px #000000;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    position: relative;
    padding: 1vw 2vw;
  }

  .nav__right-side__join-us:focus {
    outline: 0;
    background-color: #902a2d;
    border: 1px solid #902a2d;
    color: #c1bbbb;
  }

  .nav__right-side__join-us:before {
    content: "";
    outline: 0;
    background-color: #e6666a40;
    color: #c1bbbb;
    position: absolute;
    border-radius: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    transition-property: transform;
    transform-origin: 50%;
  }

  .nav__right-side__join-us:hover:before {
    transform: scale(1);
    border-radius: 3px;
    transition: all 0.2s;
  }

  .nav__right-side__join-us:hover {
    color: white;
  }

  /* Text Section */
  main {
    font-family: "Roboto", sans-serif;
    color: $platinum;
    font-weight: 500;
    display: flex;
    text-align: center;
    margin-top: 3.5vw;
    font-size: 8.3vw;
    flex-direction: column;
    text-shadow: 3px 1px 7px#000000;
    justify-content: space-between;
    height: 22.2vh;
    padding-bottom: 19vw;
  }
}

.splash-section-services.container {
  background-color: $platinum;

  /* Social Media Section */
  nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5vw 0;
    font-size: 6vw;

    a {
      color: $granitegray;

      i {
      cursor: pointer;
      }

      i:hover {
        color: #a73b3e;
      }

      i:focus {
        color: #a73b3e;
      }
    }
  }

  /* Main Content */
  main {
    font-family: $roboto;

    p:nth-of-type(1) {
      font-size: 6.2vw;
      font-weight: 600;
      text-align: center;
      padding: 1.6vw 3.8vw;
      color: $richblack;
    }

    p:nth-of-type(2) {
      text-align: center;
      padding: 4.7vw 3.8vw;
      font-size: 4.4vw;
      color: $granitegray;
      line-height: 5.5vw;
    }

    .main__button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 5vw;

      button {
        background-color: $sweetbrown;
        border-radius: 3px;
        padding: 3.1vw 0;
        width: 90%;
        color: $platinum;
        margin: 2.5vw;
        font-size: 5vw;
        cursor: pointer;
        position: relative;
        box-shadow: 0px 2px 6px -1px #757575;
        border: 1px solid #a63d40ff;
      }

      button:focus {
        outline: 0;
        background-color: #902a2d;
        border: 1px solid #902a2d;
        color: #c1bbbb;
      }

      button:before {
        content: "";
        outline: 0;
        background-color: #e6666a40;
        color: #c1bbbb;
        position: absolute;
        border-radius: 30%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scale(0);
        transition-property: transform;
        transform-origin: 50%;
      }

      button:hover:before {
        transform: scale(1);
        border-radius: 3px;
        transition: all 0.2s;
      }

      button:hover {
        color: white;
      }
    }
  }
}

.splash-section-whyus.container {
  font-family: $roboto;
  
  background-color: $sectionlightgray;

  header {
    text-align: center;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    p:first-of-type {
      color: $sweetbrown;
      font-size: 4.5vw;
      font-weight: 500;
      text-transform: uppercase;
      padding: 5vw 0;
      letter-spacing: 5px;
    }

    p:last-of-type {
      color: #5a5a5a;
      text-transform: uppercase;
      font-size: 10vw;
      font-weight: 600;
      padding: 0px 0;
      letter-spacing: 3px;
      text-shadow: 1px 1px 2px $granitegray;

      span {
        color: $sweetbrown;
      }
    }

    .header__line {
      border-bottom: 1px solid $richblack;
      padding: 8px;
      width: 75%;
    }
  }

  main {
    text-align: center;

    p:first-of-type {
      text-align: center;
      border-radius: 4px;
      color: #6d6d6d;
      padding: 3vw;
      line-height: 8vw;
      font-size: 5vw;
    }

    #about-us-p {
      padding: 3vw 3vw 8vw 3vw;
    }

    aside {
      padding-bottom: 5vw;
      background-color: black;

      div {
        padding: 8vw 5vw 0 5vw;

        i {
          font-size: 9vw;
          border: 4px solid #752a2b;
          border-radius: 50%;
          padding: 6vw;
          color: #ccad0c;
        }

        .fa-dollar-sign {
          padding: 5.6vw 7.8vw;
        }

        h3 {
          color: $manatee;
          font-size: 5.5vw;
          text-transform: uppercase;
          font-weight: 600;
          padding: 6vw 0 0 0;
        }

        .splash-section-whyus.p-item-list {
          font-style: italic;
          line-height: 9vw;
          color: $platinum;
          letter-spacing: 0.1vw;
        }
      }
    }
  }
}

.splash-section-offers.container {
  display: flex;
  font-family: $roboto;
  flex-direction: column;
  align-items: center;
  background-color: #612223;
  padding-bottom: 11vw;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h3 {
      color: #e2e0e0;
      font-size: 8vw;
      text-transform: uppercase;
      font-weight: 500;
      text-shadow: 1px 1px 5px #000000;
      padding-top: 7vw;
      letter-spacing: 0.6vw;
     }

     .splash-section-offers.header__line {
      border-bottom: 1px solid #000500ff;
      padding: 8px;
      width: 75%;
    }

    p {
      text-align: center;
      padding: 4vw;
      color: #96393a;
      font-size: 5vw;
      font-weight: 500;
      text-shadow: 1px 1px 0px #000000;
      letter-spacing: 0.4vw;
    } 
  }

  .splash-section-offers.outer__box-container { 
    width: 88%;
    margin-top: 4vw;
    background-color: #882e2f;
    box-shadow: 1px 1px 21px -7px #171717;
    margin-bottom: 4vw;
    box-sizing: border-box;
    border: 2px solid #882e2f;
    transition: border 0.5s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      height: 11vw;
      padding-top: 4vw;
    }

    i {
      font-size: 9vw;
      padding-top: 5vw;
      color: #bb9d08;
    }

    .splash-section-offers.box__header-container {
      position: relative;
        
      h3 {
        color: white;
        padding: 7vw 5vw 3vw 5vw;
        font-size: 4.6vw;
        font-weight: 300;
        letter-spacing: 0.2vw;
        text-shadow: 1px 1px 5px #000000;
        text-transform: uppercase;
        line-height: 7vw;
      }

      p {
        color: #1d1b15;
        font-size: 5vw;
        padding: 0 3vw;
        line-height: 5.7vw;
        padding-bottom: 12vw;
      }
    }

    .splash-section-offers.box__header-container:after {
      content: '';
      position: absolute;
      border-bottom: 3px solid #a58b09;
      height: 1px;
      width: 17%;
      top: 5%;
      left: 41.8%;
    }
  }

  .splash-section-offers.outer__box-container:hover {
    border: 2px solid #9e5757;
    transition: border 0.5s;
  }

  .splash-section-offers.outer__box-container:nth-of-type(3) { 
    margin-bottom: 0;
  }
}

.splash-section-contact.container {
  background: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(https://cdn.pixabay.com/photo/2016/11/27/21/42/stock-1863880_1280.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: $roboto;

  h3 {
    color: $platinum;
    font-size: 8vw;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding-top: 9vw;
    letter-spacing: 1px;
    position: relative;
  }

  h3:before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #9e3435;
    height: 1px;
    width: 56%;
    left: 5vw;
    top: 20vw;
  }

  h3:after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #9e3435;
    height: 1px;
    width: 90%;
    left: 5vw;
    top: 23vw;
  }

  p {
    color: $granitegray;
    padding: 12vw 5vw 7vw 5vw;
    text-align: center;
    letter-spacing: 2px;
    font-size: 4.4vw;
    text-shadow: 1px 1px 1px black;
  }

  .splash-section-contact.input-container {
    display: flex;
    flex-direction: column;
    padding: 0 7vw;
    padding-bottom: 9vw;

    input {
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid white;
      font-size: 6vw;
      margin-bottom: 7vw;
      padding-bottom: 5vw;
      color: rgb(252, 252, 252);
    }

    input::placeholder {
      color: rgb(150, 149, 149);
    }

    textarea {
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid white;
      margin-bottom: 7vw;
      font-size: 6vw;
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(252, 252, 252);
    }

    textarea::placeholder {
      color: rgb(150, 149, 149);
    }

    button:last-child {
      padding: 3vw 1vw 3vw 1vw;
      width: 44vw;
      background: #882e2f;
      box-shadow: 0px 2px 6px 3px black;
      border-radius: 3px;
      margin-top: 4vw;
      cursor: pointer;
      position: relative;
      border: 1px solid #882e2f;
      color: $platinum;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 6vw;
    }

    button:last-child:focus {
      outline: 0;
      background-color: #a7383a;
      border: 1px solid #a7383a;
    }

    button:last-child:before {
      content: "";
      outline: 0;
      background-color: #e6666a40;
      color: #c1bbbb;
      position: absolute;
      border-radius: 30%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scale(0);
      transition-property: transform;
      transform-origin: 50%;
    }

    button:last-child:hover:before {
      transform: scale(1);
      border-radius: 3px;
      transition: all 0.2s;
    }

    button:last-child:hover {
      color: white;
    }
  }
}

.splash-section-footer.container {
  background-color: #D3D4D9;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 200vw; // TEST

  img {
    width: 90%;
    padding: 8vw 0;
  }

  .splash-section-footer.divider__line {
    border-bottom: 1px solid #000000;
    width: 85%;
  }

  .splash-section-footer.our__info-container {
    font-family: $roboto;
    color: $granitegray;
    padding: 8vw 9vw 9vw 9vw;

    h3 {
      font-size: 8vw;
      font-weight: 500;
      padding-bottom: 5vw;
    }

    .mobile__number-container {
      display: flex;
      padding-bottom: 5vw;
      align-items: center;
      padding-left: 3.5vw;
      letter-spacing: 0.2vw;
      font-size: 5vw;

      i {
        margin-right: 10px;
        font-size: 7vw;
      }
    }

    .email-container {
      display: flex;
      padding-bottom: 5vw;
      align-items: center;
      padding-left: 3vw;
      letter-spacing: 0.2vw;
      font-size: 5vw;

      i {
        margin-right: 10px;
        font-size: 6vw;
      }
    }

    .splash-section-footer.information-container {
      padding-bottom: 5vw;
      align-items: center;
      padding-left: 2.5vw;
      letter-spacing: 0.2vw;
      font-size: 5vw;

      p {
        padding-bottom: 2vw;
        cursor: pointer;
      }

      p:last-of-type {
        padding-bottom: 0;
      }
    }

    .splash-section-footer.helpful__links-container {
      padding-bottom: 5vw;
      align-items: center;
      padding-left: 2.5vw;
      letter-spacing: 0.2vw;
      font-size: 5vw;

      p {
        padding-bottom: 2vw;
        cursor: pointer;
      }

      p:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}