.splash-section-header.container {
  background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("https://images.unsplash.com/photo-1517424788495-0d03ec42e244?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 43vh; // Test
  background-color: $richblack; // Test
  
  /* Nav section */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 2vh 4vw;
  }

  .nav__left-side {
    display: flex;    
  }

  i {
    color: $platinum;
    margin-right: 20px;
    font-size: 3.3vh;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }

  i:hover:focus {
    color: #c1bbbb;
  }

  i:hover:hover {
    color: #c1bbbb;
  }

  .PLACEHOLDER { /* LOGO PLACEHOLDER */ // Test
    background-color: $granitegray;
    color: $manatee;
  }
  
  .nav__right-side__sign-in {
    color: $platinum;
    border: 1px solid $platinum;
    border-radius: 3px;
    background-color: transparent;
    font-size: 2.3vh;
    font-family: $roboto;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }

  .nav__right-side__sign-in:focus {
    outline: 0;
    color: #c1bbbb;
    border: 1px solid #c1bbbb;
  }

  .nav__right-side__sign-in:hover {
    outline: 0;
    color: #c1bbbb;
    border: 1px solid #c1bbbb;
  }

  .nav__right-side__join-us {
    background-color: $sweetbrown;
    color: $platinum;
    border-radius: 3px;
    margin-left: 20px;
    font-size: 2.3vh;
    border: 1px solid $sweetbrown;
    font-family: $roboto;
    box-shadow: 3px 1px 7px 1px #000000;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    position: relative;
  }

  .nav__right-side__join-us:focus {
    outline: 0;
    background-color: #902a2d;
    border: 1px solid #902a2d;
    color: #c1bbbb;
  }

  .nav__right-side__join-us:before {
    content: "";
    outline: 0;
    background-color: #e6666a40;
    color: #c1bbbb;
    position: absolute;
    border-radius: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    transition-property: transform;
    transform-origin: 50%;
  }

  .nav__right-side__join-us:hover:before {
    transform: scale(1);
    border-radius: 3px;
    transition: all 0.2s;
  }

  .nav__right-side__join-us:hover {
    color: white;
  }

  /* Text Section */
  main {
    font-family: "Roboto", sans-serif;
    color: $platinum;
    font-weight: 500;
    display: flex;
    text-align: center;
    margin-top: 3.5vw;
    font-size: 8.3vw;
    flex-direction: column;
    text-shadow: 3px 1px 7px#000000;
    justify-content: space-between;
    height: 22.2vh;
  }
}

.splash-section-services.container {

  height: 57vh; // Test
  background-color: $platinum; // Test

  /* Social Media Section */
  nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5vw 0;
    font-size: 6vw;

    a {
      color: $granitegray;

      i {
      cursor: pointer;
      }

      i:hover {
        color: #a73b3e;
      }

      i:focus {
        color: #a73b3e;
      }
    }
  }

  /* Main Content */
  main {
    font-family: $roboto;

    p:nth-of-type(1) {
      font-size: 6.2vw;
      font-weight: 600;
      text-align: center;
      padding: 1.6vw 3.8vw;
      color: $richblack;
    }

    p:nth-of-type(2) {
      text-align: center;
      padding: 4.7vw 3.8vw;
      font-size: 4.4vw;
      color: $granitegray;
      line-height: 5.5vw;
    }

    .main__button-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        background-color: $sweetbrown;
        border-radius: 3px;
        padding: 3.1vw 0;
        width: 90%;
        color: $platinum;
        margin: 2.5vw;
        font-size: 5vw;
        cursor: pointer;
        position: relative;
      }

      button:focus {
        outline: 0;
        background-color: #902a2d;
        border: 1px solid #902a2d;
        color: #c1bbbb;
      }

      button:before {
        content: "";
        outline: 0;
        background-color: #e6666a40;
        color: #c1bbbb;
        position: absolute;
        border-radius: 30%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scale(0);
        transition-property: transform;
        transform-origin: 50%;
      }

      button:hover:before {
        transform: scale(1);
        border-radius: 3px;
        transition: all 0.2s;
      }

      button:hover {
        color: white;
      }
    }
  }
}

.splash-section-whyus.container {
  
  height: 43vh; // Test
  background-color: $sectionlightgray; // Test
}